assets/applications.png filter=lfs diff=lfs merge=lfs -text
assets/id-interpolation.jpg filter=lfs diff=lfs merge=lfs -text
docs/technical-report.pdf filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
